body {
  font-family: 'Inter', sans-serif;
}

.navbar-default {
  background-color: #FFF;
  border-color: #FFF;
}

div.navbar-header {
  height: 75px;
}

div.navbar-header img {
  width: 190px;
  padding-top: 20px;
  padding-left: 15px;
}

.navbar-default .navbar-toggle {
  border-color: #FFF;
  margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(0, 105, 255);
}

ul.nav.navbar-nav {
  padding-top: 15px;
}

ul.nav.navbar-nav.navbar-left {
  padding-left: 130px;

}

.navbar-default .navbar-nav>li>a {
  color: hsl(221,93%,16%);
  font-weight: 700;
  padding: 10px;

}

.navbar-default .navbar-nav>li>a.btn {
  border: 1px solid #006aff;
  border-radius: 4px;
  color: #006aff;
  padding: 7px;
  margin-top: 3px;
  margin-left: 5px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.jumbo {
  background: url("../img/bg-sea.svg") center;
  background-size: cover;
}

div.layover {
  background-color: rgba(0, 0, 0, 0.2);
}

h1 {
  padding-top: 70px;
}

div.jumbo p {
  font-size: 18px;
  font-weight: 300;
}

.card-form {
  background-color: #FFF;
  border-radius: 7px;
  margin-bottom: 80px;
}

h3 {
  font-weight: 700;
  padding-top: 40px;
}

div.card-form a {
  font-size: 24px;
  font-weight: 700;
}

div.card-form input, div.card-form button {
  width: 95%;
  border-radius: 5px;
}

div.card-form input {
  outline: none;
  margin: 5px auto;
  padding: 10px 5px;

  border: 1px solid #d3d3d3;
}

div.card-form button {
  border: 0;
  padding: 5px 0;
  margin: 5px 0;
  font-weight: 700;
}

div.card-form p {
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 30px;
}

div.card-form p > a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
}

/* UTILITY */

.text-white {
  color: #FFF;
}

.text-lightgrey {
  color: rgb(91, 105, 135);
}

.text-blue {
  color: #006aff;
}

.text-dark-blue {
  color: hsl(221,93%,16%);
}

.bg-blue {
  background-color: #006aff;
}

.bg-white {
  background-color: #FFF;
}

.box-shadow {
  box-shadow: 2px 2px #d3d3d3;
}

/* UTILITY */

@media all and (min-width: 768px) {
  div.navbar-header img {
    padding-left: 0px;
  }

  h1 {
    font-size: 50px;
  }

  .card-form {
    margin-top: 70px;
  }

}

@media all and (min-width: 768px) and (max-width: 1199px) {

  .container {
    width: 100%;
  }

    .navbar-header {
    width: 100%;
  }
    .navbar-toggle {
    display: block;
  }
    .navbar-nav, .navbar-right {
    display: none;
  }
}

@media all and (min-width: 1200px) {
  h1 {
    font-size: 64px;
  }

  div.jumbo p {
    font-size: 20px;
  }

  div.card-form p {
    font-size: 12px;
  }
}
